
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

h1 {
  color: white;
}

ul {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

li {
  display: flex;
  flex-direction: column;
  width:fit-content;
}

link > img {
  width: 200px;
  background-size: cover;
}